<head>
	<title LanguageSite="en"><CustomTemplateVar name="title_en"/></title>
	<title LanguageSite="pl"><CustomTemplateVar name="title_pl"/></title>

	<link rel="stylesheet" href="/resource/style/base.css"/>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1 LanguageSite="en"><CustomTemplateVar name="title_en"/></h1>
	<h1 LanguageSite="pl"><CustomTemplateVar name="title_pl"/></h1>

	<div class="language_options">
		<a href="/$PATH[en]$"><strong>EN</strong></a><a href="/$PATH[pl]$"><strong>PL</strong></a>
	</div>

	<main>
		<CustomTemplateBody/>
	</main>
</body>
