* {
	margin: 0;
	padding: 8px;
}

body {
	max-width: 1000px;

	margin: auto;
	padding: 0;

	color: #ffeecc;
	background-color: #332222;

	font-size: 20px;
	font-family: Georgia, serif;
}

main {
	padding: 16px;
}

a {
	text-decoration: none;
	color: #ff7799;
}
a:hover {
	color: #ff5577;
}

h1 {
	text-decoration: underline;
	text-align: center;
	font-size: 45px;

	color: #ffaa66;
}

h2 {
	text-decoration: underline;
	color: #66aa66;
	padding-top: 20px;
}

img {
	display: block;
	margin: auto;

	max-width: 80%;
}

.top_link {
	text-decoration: none;
	padding: 0;
}

footer {
	text-align: center;
	padding: 20px;
}

.big_link {
	font-size: 30px;
}

.language_options {
	text-align: center;
}
.language_options a {
	text-decoration: none;
	font-size: 25px
}

audio {
	width: 100%;
}
