* {
	margin: 0;
	padding: 8px;
}

body {
	max-width: 1000px;

	margin: auto;
	padding: 0;

	color: #ffeedd;
	background-color: #272233;

	font-size: 20px;
	font-family: Georgia, serif;
}

main {
	padding: 16px;
}

a {
	color: #ee8888;
}

h1 {
	text-align: center;
	font-size: 45px;

	color: #ff6666;
}

h2 {
	color: #e5b388;
	padding-top: 25px;
}

img {
	display: block;
	margin: auto;

	max-width: 80%;
}


.language_options {
	text-align: center;
}
.language_options a {
	text-decoration: none;
	font-size: 25px
}
